@import url(../css/reset.css);
.login{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
    position: relative;
    overflow: hidden;
    &__form{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 100;
        &__left{
            padding: 30px;
            a{
                width: 350px;
                display: block;
                img{
                    width: 100%;
                }
            }
        }
        &__right{
            border-left: 2px solid rgba(241, 241, 241, 0.15);
            color: #fff;
            padding-top: 40px;
            padding-bottom: 15px;
            padding-left: 80px;
            margin-left: 40px;
            padding-right: 40px;
            max-width: 500px;
            h4{
                font-weight: 400;
                font-size:15px;
                margin-top: 15px;
                color: rgb(197, 195, 195);
                a{
                    color: #fff;
                }
            }
            h3{
                font-weight: 400;
                font-size:20px;
                margin-bottom: 20px;
                text-transform: uppercase;
            }
            input{
                width: 100%;
                border: 1px solid rgba(241, 241, 241, 0.25);
                padding: 10px 15px;
                background-color: transparent;
                color: #fff;
                border-radius: 0.25rem;
                font-size: 1rem;
                outline: none;
                font-weight: 400;
                line-height: 1.5;
                margin: 10px 0;
            }
            button{
                font-family: 'Roboto', sans-serif;
                cursor: pointer;
                display: inline-block;
                font-size: 17px;
                font-weight: 500;
                -webkit-box-shadow: none;
                box-shadow: none;
                outline: none;
                border: 0;
                color: #fff;
                border-radius: 3px;
                background-color: #ffbd3f;
                padding: 10px 36px;
                margin-bottom: 10px;
                width: 100%;
                -webkit-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out; 
                margin-top: 20px;  
            }
            button:hover{
                background-color: #db9e2d;
                border-color: #db9e2d;
            }
        }
    }
    iframe {
        filter: blur(3px);
        -webkit-filter: blur(3px);
        transform: scale(1.4);
      }
    

}
@media screen and (max-width: 1100px) {
    .login{
        &__form{
            padding: 0 20px!important;
            &__left{
                a{
                    width: 200px;
                }
            }
        }
        iframe {
            display: none;
        }
    }
    
}
@media screen and (max-width: 750px) {
    
    .login{
        background-image: url("https://genk.mediacdn.vn/139269124445442048/2021/12/23/26990980413790933458516078869869368984213137n-16402267344512075604121.jpg");
        background-size: cover;
        background-position: center center;
        &__form{
            flex-direction: column;
            
                &__left{
                    padding: 0;
                    a{
                        width: 300px !important;
                    }
                }
                &__right{
                    border: none;
                    border-top: 2px solid rgba(241, 241, 241, 0.15);
                    margin: 0;
                    padding: 0;
                    h3{
                        text-align: center;
                        margin-top: 20px;
                        
                    }
                }
                
            
        }
    }
    
}